# 01 Create values df

In [81]:
import os
import pandas as pd

input_folder = '/home/e077926/buscode_2023/05_E2_tata/data/SROIE2019/train/box'
df_list = []

for txt_file in os.listdir(input_folder):
    # Construire le chemin complet du fichier texte
    txt_file_path = os.path.join(input_folder, txt_file)

    # Extraire l'ID du document à partir du nom du fichier sans extension
    doc_id = os.path.splitext(txt_file)[0]

    # Lire les lignes du fichier texte
    with open(txt_file_path, 'r') as f:
        doc = f.readlines()
        # Vérifier si le fichier n'est pas vide et exclure les lignes qui ne contiennent que '\n'
        filtered_lines = [line.strip() for line in doc if line.strip()]
        for idx, line in enumerate(filtered_lines, start=1):
            line = str(line)
            line = ','.join(line.split(',')[8:])
            if line:
                # Créer un DataFrame pour les lignes du fichier texte
                df_lines = pd.DataFrame({'text_lines': [line]})

                # Ajouter les colonnes d'ID du document et d'ID de ligne
                df_lines['doc_id'] = doc_id
                df_lines['line_id'] = idx  # Utiliser l'index de la boucle comme ID de ligne

                # Ajouter ce DataFrame à la liste
                df_list.append(df_lines)

# Concaténer tous les DataFrames dans la liste en un seul DataFrame
df = pd.concat(df_list, ignore_index=True)

In [83]:
df.tail(50)

                                 text_lines        doc_id  line_id
33576                               TAX(RM)  X51009453801       39
33577                                    SR  X51009453801       40
33578                                  @ 6%  X51009453801       41
33579                                 96.23  X51009453801       42
33580                                  5.77  X51009453801       43
33581                             THANK YOU  X51009453801       44
33582                     PLEASE COME AGAIN  X51009453801       45
33583                               3180303  X51009453804        1
33584          LIAN HING STATIONERY SDN BHD  X51009453804        2
33585                            (162761-M)  X51009453804        3
33586  NO.32 & 33, JALAN SR 1/9, SEKSYEN 9,  X51009453804        4
33587                   TAMAN SERDANG RAYA,  X51009453804        5
33588        43300 SERI KEMBANGAN, SELANGOR  X51009453804        6
33589                           DARUL EHSAN  X51009453804        7
33590                 GST ID : 002139201536  X51009453804        8
33591                           TAX INVOICE  X51009453804        9
33592                            27/03/2018  X51009453804       10
33593                         NO : CS-20243  X51009453804       11
33594                                   QTY  X51009453804       12
33595                                   TAX  X51009453804       13
33596                                    RM  X51009453804       14
33597          F/CASTELL 187057- 75 TACK-LT  X51009453804       15
33598                                     2  X51009453804       16
33599                                    SR  X51009453804       17
33600                                 12.00  X51009453804       18
33601             75G- WHITE (NEW) @ 5.6600  X51009453804       19
33602            TOTAL AMT INCL. GST @ 6% :  X51009453804       20
33603                                 12.00  X51009453804       21
33604                 ROUNDING ADJUSTMENT :  X51009453804       22
33605                   TOTAL AMT PAYABLE :  X51009453804       23
33606                                 12.00  X51009453804       24
33607                         PAID AMOUNT :  X51009453804       25
33608                                 20.00  X51009453804       26
33609                              CHANGE :  X51009453804       27
33610                                  8.00  X51009453804       28
33611                    TOTAL QTY TENDER :  X51009453804       29
33612                                     2  X51009453804       30
33613                           GST SUMMARY  X51009453804       31
33614                                AMOUNT  X51009453804       32
33615                                   TAX  X51009453804       33
33616                                  (RM)  X51009453804       34
33617                                  (RM)  X51009453804       35
33618                                SR @ A  X51009453804       36
33619                                 11.32  X51009453804       37
33620                                  0.68  X51009453804       38
33621                                 TOTAL  X51009453804       39
33622                                 11.32  X51009453804       40
33623                                  0.68  X51009453804       41
33624                             THANK YOU  X51009453804       42
33625   FOR ANY ENQUIRY, PLEASE CONTACT US:  X51009453804       43

In [84]:
df.to_csv('/home/e077926/buscode_2023/05_E2_tata/data/reciept_bbox_extraction.csv')