# 01 Load modules

In [1]:
import pandas as pd 
import json
import os

In [2]:
base_df=pd.read_csv('/home/e077926/buscode_2023/05_E2_tata/data/receipt_raw_df.csv')
base_df = base_df.drop(columns=['Unnamed: 0'])
base_df.head()

                         text_lines        doc_id  line_id
0                     tan woon yann  X00016469612        1
1    BOOK TA-K (TAMAN DAYA) SDN BHD  X00016469612        2
2                           B94 7-W  X00016469612        3
3  NO.5? 55,57 & 59, JALAN SAGU 18,  X00016469612        4
4                        TAMAN DAYA  X00016469612        5

# 02 create id df

In [3]:
base_df['id']=base_df["doc_id"] +"-"+ base_df["line_id"].astype(str)

In [4]:
id_df=base_df[['id','text_lines']]

In [5]:
id_df.head()

               id                        text_lines
0  X00016469612-1                     tan woon yann
1  X00016469612-2    BOOK TA-K (TAMAN DAYA) SDN BHD
2  X00016469612-3                           B94 7-W
3  X00016469612-4  NO.5? 55,57 & 59, JALAN SAGU 18,
4  X00016469612-5                        TAMAN DAYA

# 03 create entities df

In [6]:
# Utiliser str.split pour diviser chaque ligne en mots
id_df['text_lines'] = id_df['text_lines'].str.split()
# Utiliser explode pour créer une ligne pour chaque mot tout en conservant l'ID
entities_df = id_df.explode('text_lines')

/tmp/ipykernel_16745/3527679692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id_df['text_lines'] = id_df['text_lines'].str.split()

# 04 add entities labels

We'll use BIO (Begin, Inside, Outside)

'B-' (Begin) pour le premier mot d'une entité, 

'I-' (Inside) pour les mots suivants de la même entité

'O' (Outside) pour les mots qui ne font pas partie d'une entité.

In [7]:
entities_df.tail()

                    id text_lines
18206  X51009453804-20        anv
18206  X51009453804-20   enauirv.
18206  X51009453804-20     please
18206  X51009453804-20    contact
18206  X51009453804-20        us:

In [8]:
entity_folder_path = "/home/e077926/buscode_2023/05_E2_tata/data/SROIE2019/train/entities/"

for entity_file in os.listdir(entity_folder_path):
    file_name, _ = os.path.splitext(entity_file)
    matching_rows = entities_df[entities_df['id'].str.startswith(file_name + '-')]

    if not matching_rows.empty:

        with open(f'{entity_folder_path+file_name}.txt', 'r') as f:
                    data_dict = json.load(f)

                    for index, row in matching_rows.iterrows():
                        # Réinitialiser la valeur à 'O' par défaut
                        entities_df.at[index, 'entity'] = 'O'

                        for k, v in data_dict.items():
                            if row['text_lines'] in v:
                                entities_df.at[index, 'entity'] = k
                        # Si une correspondance est trouvée, vous pourriez sortir de la boucle interne ici
                                break

entities_df=entities_df.reset_index()

# 05 Add BIO

In [9]:
entities_df.head(10)

   index              id text_lines   entity
0      0  X00016469612-1        tan        O
1      0  X00016469612-1       woon        O
2      0  X00016469612-1       yann        O
3      1  X00016469612-2       BOOK  company
4      1  X00016469612-2       TA-K  company
5      1  X00016469612-2     (TAMAN  company
6      1  X00016469612-2      DAYA)  company
7      1  X00016469612-2        SDN  company
8      1  X00016469612-2        BHD  company
9      2  X00016469612-3        B94        O

In [10]:
# Créer une nouvelle colonne pour les entités avec les suffixes
entities_df['entity_with_suffix'] = 'O'

# Parcourir le DataFrame
for i in range(len(entities_df)):
    entity = entities_df.at[i, 'entity']

    if entity != 'O':
        # Si c'est la première occurrence, ajouter '-B', sinon '-I'
        suffix = '-B' if entities_df.at[i-1, 'entity_with_suffix'] == 'O' else '-I'
        entities_df.at[i, 'entity_with_suffix'] = entity + suffix

# Supprimer la colonne originale 'entity' si nécessaire
entities_df.drop(columns=['entity'], inplace=True)
# Renommer la nouvelle colonne
entities_df.rename(columns={'entity_with_suffix': 'entity'}, inplace=True)

    index              id text_lines     entity
0       0  X00016469612-1        tan          O
1       0  X00016469612-1       woon          O
2       0  X00016469612-1       yann          O
3       1  X00016469612-2       BOOK  company-B
4       1  X00016469612-2       TA-K  company-I
5       1  X00016469612-2     (TAMAN  company-I
6       1  X00016469612-2      DAYA)  company-I
7       1  X00016469612-2        SDN  company-I
8       1  X00016469612-2        BHD  company-I
9       2  X00016469612-3        B94          O
10      2  X00016469612-3        7-W          O
11      3  X00016469612-4      NO.5?  address-B
12      3  X00016469612-4      55,57  address-I
13      3  X00016469612-4          &  address-I
14      3  X00016469612-4        59,  address-I

In [17]:
entities_df.tail(60)

       index               id    text_lines     entity
72713  18190   X51009453804-4            SR  address-I
72714  18190   X51009453804-4          1/9,  address-I
72715  18190   X51009453804-4       SEKSYEN  address-I
72716  18190   X51009453804-4            9,  address-I
72717  18191   X51009453804-5         TAMAN  address-I
72718  18191   X51009453804-5       SERDANG  address-I
72719  18191   X51009453804-5         RAYA,  address-I
72720  18192   X51009453804-6         43300  address-I
72721  18192   X51009453804-6          SERI  address-I
72722  18192   X51009453804-6    KEMBANGAN,  address-I
72723  18192   X51009453804-6      SELANGOR  address-I
72724  18193   X51009453804-7         DARUL  address-I
72725  18193   X51009453804-7         EHSAN  address-I
72726  18194   X51009453804-8           GST          O
72727  18194   X51009453804-8            ID          O
72728  18194   X51009453804-8             :          O
72729  18194   X51009453804-8  002139201536          O
72730  18195   X51009453804-9           Tax          O
72731  18195   X51009453804-9       Invoice          O
72732  18196  X51009453804-10           No:          O
72733  18196  X51009453804-10      CS-20243          O
72734  18197  X51009453804-11     2103/2018          O
72735  18198  X51009453804-12     F/Castel!    total-B
72736  18198  X51009453804-12     187087-75    total-I
72737  18198  X51009453804-12        Tack-t    total-I
72738  18198  X51009453804-12             2    total-I
72739  18198  X51009453804-12            SR    total-I
72740  18198  X51009453804-12         12.00    total-I
72741  18199  X51009453804-13          75g-          O
72742  18199  X51009453804-13         White          O
72743  18199  X51009453804-13         (new)          O
72744  18199  X51009453804-13             @          O
72745  18199  X51009453804-13        5.6600          O
72746  18200  X51009453804-14         Total          O
72747  18200  X51009453804-14           Amt          O
72748  18200  X51009453804-14         Incl.          O
72749  18200  X51009453804-14           GST          O
72750  18200  X51009453804-14             @          O
72751  18200  X51009453804-14            6%          O
72752  18200  X51009453804-14             -          O
72753  18201  X51009453804-15      Rounding          O
72754  18201  X51009453804-15    Adjuatment          O
72755  18202  X51009453804-16         Total          O
72756  18202  X51009453804-16           Amt          O
72757  18202  X51009453804-16       Payable          O
72758  18202  X51009453804-16             :          O
72759  18203  X51009453804-17          Paid          O
72760  18203  X51009453804-17        Amount          O
72761  18204  X51009453804-18        Change          O
72762  18204  X51009453804-18             :          O
72763  18205  X51009453804-19         Total  address-B
72764  18205  X51009453804-19           Qty  address-I
72765  18205  X51009453804-19        Tender  address-I
72766  18205  X51009453804-19             .  address-I
72767  18206  X51009453804-20           For          O
72768  18206  X51009453804-20           anv          O
72769  18206  X51009453804-20      enauirv.          O
72770  18206  X51009453804-20        please          O
72771  18206  X51009453804-20       contact          O
72772  18206  X51009453804-20           us:          O