# 01 Create values df

In [5]:
import os
import pandas as pd

txt_data_path = "/home/e077926/buscode_2023/05_E2_tata/data/SROIE2019/train/text"
df_list = []

for txt_file in os.listdir(txt_data_path):
    # Construire le chemin complet du fichier texte
    txt_file_path = os.path.join(txt_data_path, txt_file)

    # Extraire l'ID du document à partir du nom du fichier sans extension
    doc_id = os.path.splitext(txt_file)[0]

    # Lire les lignes du fichier texte
    with open(txt_file_path, 'r') as f:
        lines = f.readlines()

    # Créer un DataFrame pour les lignes du fichier texte
    df_lines = pd.DataFrame({'text_lines': lines})

    # Ajouter les colonnes d'ID du document et d'ID de ligne
    df_lines['doc_id'] = doc_id
    df_lines['line_id'] = df_lines.index + 1  # Index + 1 pour obtenir l'ID de ligne

    # Ajouter ce DataFrame à la liste
    df_list.append(df_lines)

# Concaténer tous les DataFrames dans la liste en un seul DataFrame
df = pd.concat(df_list, ignore_index=True)

                                  text_lines        doc_id  line_id
0                            tan woon yann\n  X00016469612        1
1                                         \n  X00016469612        2
2           BOOK TA-K (TAMAN DAYA) SDN BHD\n  X00016469612        3
3                                  B94 7-W\n  X00016469612        4
4         NO.5? 55,57 & 59, JALAN SAGU 18,\n  X00016469612        5
...                                      ...           ...      ...
29050                                     \n  X51009453804       27
29051                                     \n  X51009453804       28
29052                                     \n  X51009453804       29
29053  For anv enauirv. please contact us:\n  X51009453804       30
29054                                        X51009453804       31

[29055 rows x 3 columns]

In [7]:
df.tail()

                                  text_lines        doc_id  line_id
29050                                     \n  X51009453804       27
29051                                     \n  X51009453804       28
29052                                     \n  X51009453804       29
29053  For anv enauirv. please contact us:\n  X51009453804       30
29054
  X51009453804       31

In [9]:
df.to_csv('/home/e077926/buscode_2023/05_E2_tata/data/receipt_raw_df.csv')